<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        {% block content %}

            <h1>Number of Times Mouth Opened</h1><h1> {{c.0}}</h1>
        <h1>Number of Times Head Up</h1><h1> {{c.1}}</h1>
        <h1>Number of Times Head Down</h1><h1> {{c.2}}</h1>
            <h1>Number of Times Head Left</h1></h1><h1> {{c.3}}</h1>
        <h1>Number of Times Head Right<h1><h1> {{c.4}}</h1>
        <h1>Number of Times Left the Test<h1><h1> {{c.5}}</h1>

        <h1>Yours Trust Score:-</h1><h1> {{c.6}}</h1>
       {% endblock%}
</body>
</html>